* {
	border: 1px dashed red;
	min-height: 10px;
}

body {
	background: black;
}
p {
	color: blue;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header h1 {
	flex: 2;
	margin: 0;
}
.postcard-body {
	display: flex;
}

.input {
	border-bottom: grey;
}

.postcard-footer {
	text-align: center;
}

button {
	background: darkgrey;
	padding: 5px;
}
